<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpms.dao.system.IMenuDao">
    <select id="queryAll" parameterType="java.util.Map" resultType="com.tpms.entity.system.MenuDto">
        SELECT
            p.id,
            p.name,
            p.url,
            p.icon,
            p.parent,
            p.state,
            r.roleName
        FROM
            t_system_user u
                LEFT JOIN
            t_user_role ur ON u.id = ur.userId
                LEFT JOIN
            t_system_role r ON r.id = ur.roleId
                LEFT JOIN
            t_role_privilege rp ON r.id = rp.roleId
                LEFT JOIN
            t_system_privilege p ON p.id = rp.privilegeId
        WHERE 1 = 1
        <if test="q.userName != null and q.userName != ''">
            AND u.userName = #{q.userName}
        </if>
    </select>
    <select id="queryMenuList" resultType="com.tpms.entity.system.MenuDto">
        SELECT
            p.id,
            p.name,
            p.parent
        FROM
            t_system_privilege p
        where
            p.state = 1
    </select>
</mapper>